<!DOCTYPE html>
<html>
	<head>
	  <title>Moviemon</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div class="container">
			<% if $view == "shutdown" %>
				<span class="light off"></span>
			<% else %>
				<span class="light"></span>
			<% end %>
			<span class="screen"><%= yield %></span>
			<%= image_tag("gameboy.png", class: 'gb', usemap: '#buttons_map') %>
			<map name="buttons_map">
				<area shape="rect" coords="90,4,210,50" href="/power" alt="power"> 
				<area shape="circle" coords="596,710,42" href="/buttonA" alt="A">
				<area shape="circle" coords="486,756,42" href="/buttonB" alt="B">

				<area shape="rect" coords="116,660,176,720" href="/up" alt="up"> 
				<area shape="rect" coords="174,716,234,770" href="/right" alt="right">
				<area shape="rect" coords="116,768,176,822" href="/down" alt="down">
				<area shape="rect" coords="64,716,120,770" href="/left" alt="left">

				<area shape="poly" coords="210,910,292,872,298,894,220,928" href="/select" alt="select">
				<area shape="poly" coords="330,910,404,872,414,894,340,928" href="/start" alt="start">

			</map>
		</div>
	</body>
</html>
